.form {
  @include font($font-family_primary, $font-size_m, 400, $line-height_default);
  color: $text-color_primary;
}

.form__item {
  margin: 0;

  &:last-of-type {
    margin-bottom: 0;
  }

  label {
    display: block;

    font-size: $font-size_s;
    line-height: $line-height_default;
    color: rgba($text-color_secondary, 0.93);
  }

  input[type="text"],
  input[type="password"],
  select,
  .select-target {
    width: 100%;
    min-height: 60px;

    padding: 0;
    padding-left: 24px;

    font-size: $font-size_m;
    line-height: $line-height_default;
    color: $text-color_primary;

    @include transition;
    border: none;
    box-shadow: inset 0 0 0 1px $text-color_primary;
    border-radius: 4px;
    background-color: transparent;
    outline: none;

    &::placeholder {
      color: $text-color_additional;
    }

    &:focus {
      box-shadow: inset 0 0 0 3px $background-color_accent;
    }
  }
}

.form__submit {
  padding: 20px;
}

@media (max-width: $max-width_tablet) {
  .form__submit {
    width: 100%;

    font-size: $font-size_m;
    line-height: $line-height_m;
  }
}

@media (max-width: $max-width_mobile) {
  .form__item {
    input[type="text"],
    input[type="password"],
    select,
    .select-target {
      padding-left: 15px;
    }
  }
  .form__submit {
    padding: 18px;

    font-size: $font-size_xs;
    line-height: $line-height_xs;
  }
}
