.input-number {
  display: block;
  position: relative;

  &.input-number_invalid {
    input[type="text"] {
      color: $error-color;

      box-shadow: inset 0 0 0 3px $error-color;
    }
  }
}

.input-number__button {
  @include button-reset;

  position: absolute;
  top: 22px;


  width: 16px;
  height: 16px;

  @include transition;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";

    @include transition;
    background-color: $text-color_primary;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: 2px;
    transform: translateY(-50%);
  }

  &_down {
    left: 24px;
  }

  &_up {
    right: 24px;

    &::after {
      content: "";

      position: absolute;
      top: 0;
      left: 50%;

      height: 100%;
      width: 2px;

      transform: translateX(-50%);
    }
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      background-color: $background-color_accent;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.input-number__caption {
  display: block;
  margin-top: 6px;

  font-size: $font-size_xs;
  line-height: $line-height_default;
  color: $text-color_additional;
}

@media (max-width: $max-width_mobile) {
  .input-number__button_up {
    right: 15px;
  }
}
