
.login__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  width: 100%;
  max-width: 544px;
  padding: 56px;

  @include font-main();
  color: $text-color_primary;

  background-color: $background-color_secondary;
  border: 4px solid $background-color_accent;

  .modal__close {
    margin-left: auto;
  }
}

.login__form {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 38px;
}

.login__form-item {
  margin-bottom: 25px;

  input[type="text"],
  input[type="password"] {
    margin-top: 4px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.login__password-input {
  display: block;
  position: relative;
}

.login__password-toggle {
  @include button-reset;

  position: absolute;
  top: 23px;
  right: 24px;

  width: 22px;
  height: 22px;

  background-color: transparent;
  cursor: pointer;

  svg {
    display: block;

    @include transition;
    fill: $text-color_primary;
  }

  .eye_closed {
    display: none;
  }

  .eye_opened {
    display: block;
  }

  &_closed {
    .eye_closed {
      display: block;
    }

    .eye_opened {
      display: none;
    }
  }

  &:hover,
  &:focus {
    svg {
      fill: $background-color_accent;
    }
  }
}

.login__forgot-password {
  margin-top: 8px;
  margin-left: auto;

  font-size: $font-size_xxs;
  line-height: $line-height_default;
  color: $text-color_additional;

  &:hover,
  &:focus {
    color: $text-color_primary;
  }
}

.login__submit {
  width: 100%;
  margin-top: 25px;
}

@media (max-width: $max-width_tablet) {
  .login__inner {
    max-width: 678px;
    padding-right: 84px;
    padding-left: 84px;
  }

  .login__logo {
    .logo__icon {
      width: 30px;
      height: 27px;
      margin-right: 8px;
    }

    .logo__title {
      width: 112px;
      height: 16px;
    }
  }
}

@media (max-width: $max-width_mobile) {
  .login__inner {
    max-width: 100%;
    margin: 0 15px;
    padding: 46px 16px;
  }

  .login__logo {
    margin-left: -5px;
  }

  .login__form {
    margin-top: 28px;
  }

  .login__form-item {
    margin-bottom: 20px;
  }

  .login__submit {
    margin-top: 30px;
  }

  .login__password-toggle {
    right: 15px;
  }

  .login__forgot-password {
    order: 5;
    margin: 0 auto;
    margin-top: 10px;

    font-size: $font-size_xs;
  }
}
