.logo {
  width: 150px;
  display: flex;
  align-items: flex-end;

  @include font($font-family_primary, $font-size_xxs, 400, $line-height_xxs);
}

.logo__icon {
  flex-shrink: 0;
  margin-right: 8px;

  @include transition;
  fill: $background-color_accent;
  stroke: $background-color_secondary;
}

.logo__title {
  display: block;

  @include transition;
  fill: $text-color_primary;
}

.logo__caption {
  display: block;
  height: 12px;
}

@media (max-width: $max-width_tablet) {
  .logo__icon {
    width: 26px;
    height: 24px;
    margin-right: 6px;
  }

  .logo__title {
    width: 101px;
    height: 14px;
  }
}

@media (max-width: $max-width_mobile) {
  .logo__icon {
    width: 20px;
    height: 19px;
    margin-right: 5px;
  }

  .logo__title {
    width: 89px;
    height: 13px;
  }
}
