.page-header {
  font-size: $font-size_s;
  line-height: $line-height_s;
  color: $text-color_primary;

  background-color: $background-color_secondary;

  a {
    color: inherit;

    @include transition;
    @include link-effects($background-color_accent, 0.5);
  }
}

.page-header__inner {
  @include container_desktop;

  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 35px;
  padding-left: 60px;
}

.page-header__logo {
  flex-shrink: 0;
  margin-right: 4.8%;
}

.page-header__nav {
  margin-right: auto;
  padding-top: 11px;

  white-space: nowrap;
}

.page-header__nav-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.page-header__nav-item {
  margin-right: 25px;

  &:last-of-type {
    margin-right: 0;
  }
}

.page-header__user-list {
  @include list-reset;

  padding-top: 8px;
}

.page-header__user-link_login {
  display: flex;
  align-items: flex-end;

  svg {
    flex-shrink: 0;
    margin-right: 10px;

    fill: currentColor;
  }
}

@media (max-width: $max-width_tablet) {
  .page-header {
    font-size: $font-size_xs;
    line-height: $line-height_xs;
  }

  .page-header__inner {
    @include container_tablet;
    padding-top: 22px;
    padding-bottom: 23px;
  }

  .page-header__logo {
    margin-right: 7.2%;
  }

  .page-header__nav {
    padding-top: 0;
  }

  .page-header__nav-item {
    margin-right: 21px;
  }

  .page-header__user-list {
    padding: 0;
  }

  .page-header__user-link_login {
    svg {
      margin-right: 0;
    }

    span {
      @include hidden;
    }
  }
}

@media (max-width: $max-width_mobile) {
  .page-header {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
  }

  .page-header__inner {
    @include container_mobile;
    align-items: flex-end;
    padding-top: 11px;
    padding-bottom: 18px;
  }

  .page-header__nav {
    order: -1;
    margin-right: 14px;
  }

  .page-header__nav-list {
    z-index: 100;
    position: fixed;
    top: 48px;
    left: 0;

    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 48px);
    padding: 0 20px;

    overflow-y: scroll;
    background-color: rgba($background-color_secondary, 0.95);
  }

  .page-header__nav-item {
    margin-right: 0;

    a {
      display: block;
      padding: 20px;

      box-shadow: inset 0 -1px 0 0 rgba($background-color_accent, 0.2);
    }

    a:hover,
    a:focus {
      box-shadow: inset 0 -1px 0 0 $background-color_accent;
    }
  }

  .page-header__user-list {
    margin-left: auto;
    padding-top: 2px;
  }

  .page-header__user-link_login {
    svg {
      width: 14px;
      height: 16px;
    }
  }

  .no-js {
    .page-header {
      position: static;
    }

    .page-header__inner {
      flex-wrap: wrap;
    }

    .page-header__nav {
      order: 3;
      width: 100%;
      padding-top: 18px;
    }

    .page-header__nav-list {
      position: static;

      display: block;
      height: auto;
    }
  }
}
